@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  color: white;
  background: #020202;
}

.container {
  width: 90%;
  margin: auto;
}

.main-background {
  background-image: url("../images/main-screen__bgc.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

/*  */
.header {
  height: 60px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header_items {
  display: flex;
  gap: 20px;
  list-style: none;
}

.main-header_item a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
}

.main-header_item a:hover {
  color: #767676;
}

.main-header_btn {
  background: linear-gradient(to left, #c89afc 9.51%, #7c6afa 90.23%);
  background-size: 200% auto;
  border: none;
  color: white;
  padding: 8px 15px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s;
}

.main-header_btn:hover {
  background-position: right center;
}

/*  */
.main-home {
  padding-top: 150px;
}

.main-home h1 {
  font-weight: 700;
  font-size: 40px;
}

.main-home .main-home_date button {
  padding: 10px;
  margin-right: 10px;
  margin-top: 20px;
  background: #121212;
  color: white;
  font-size: 20px;
}

.main-home .main-home_date button p {
  font-size: 12px;
  opacity: 0.5;
}

.main-home_bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 210px;
  background: #121212;
  padding: 15px;
}

.main-home_bottom button {
  border: none;
  padding: 6px 12px;
  background: linear-gradient(to left, #df5950 11.19%, #451046 93.72%);
  background-size: 200% auto;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s;
}

.main-home_bottom button:hover {
  background-position: right center;
}

.number_1 {
  margin-left: 80px;
}

.number_2 {
  margin-left: 13px;
}

.main-home_line {
  position: relative;
  background: white;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  margin: 4px 0;
}

.main-home_line span {
  display: inline-block;
  position: absolute;
  top: 0;
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  width: 60%;
  height: 4px;
}

/*  */
.about-me {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 150px 10px;
}

.about-me_img img {
  height: 340px;
}

.about-me_info {
  max-width: 700px;
}

.about-me_info h2 {
  font-weight: 700;
  font-size: 30px;
}

.about-me_info p {
  font-size: 14px;
  line-height: 25px;
  margin-top: 30px;
}

/*  */
.chart {
  padding: 100px 20px;
}

.chart_img {
  display: flex;
  align-items: center;
  gap: 20px;
}

.chart_text {
  width: 30%;
  margin-top: 20px;
  color: #ffffff;
  opacity: 0.5;
  font-weight: 400;
  font-size: 14px;
}

.card {
  display: flex;
  margin-top: 100px;
}

.card-body_line_1,
.card-body_line_2,
.card-body_line_3,
.card-body_line_4 {
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
}

.card-body_line_1 {
  height: 70px;
  margin-top: 20px;
}

.card-body_line_2 {
  height: 50px;
  margin-top: 30px;
}

.card-body_line_3 {
  height: 30px;
  margin-top: 40px;
}

.card-body_line_4 {
  height: 10px;
  margin-top: 50px;
}

.card-body_text_1,
.card-body_text_2,
.card-body_text_3,
.card-body_text_4 {
  font-size: 14px;
  opacity: 0.5;
}

.card-body_text_1 {
  margin-top: 20px;
}

.card-body_text_2 {
  margin-top: 30px;
}

.card-body_text_3 {
  margin-top: 40px;
}

.card-body_text_4 {
  margin-top: 50px;
}




/* second card */
.second-card_text h1 {
  display: flex;
  align-items: center;
  position: relative;
  left: 300px;
}

.second-card_img img {
  display: flex;
  position: relative;
  left: 220px;
  top: 80px;
}

.second-cards_text {
  font-size: 10px;
  position: relative;
  top: 110px;
  left: 180px;
}

.second-card_let {
  position: relative;
  top:30px;
}
.second-card_img2 img {
  display: flex;
  position: relative;
  left: 550px;
  bottom: 140px;
}

.second-cards_text2 {
  font-size: 10px;
  position: relative;
  bottom: 110px;
  left: 530px;
}

.second-card_let2 {
  position: relative;
  top:30px;
}

.second-card_img3 img {
  display: flex;
  position: relative;
  left: 950px;
  bottom: 350px;
}

.second-cards_text3 {
  font-size: 10px;
  position: relative;
  bottom: 330px;
  left: 930px;
}
.second-card_let3 {
  position: relative;
  top:30px;
}